<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Question Time</title>
    <link rel="icon" type="image/png" href="~/assets/images/favicon.png" />
    <!-- Core css -->
    <link rel="stylesheet" id="bulma" href="~/assets/css/bulma.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/core_lemonade.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="~/assets/js/ggpopover/ggtooltip.css">
    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/icons.min.css">
    @RenderSection("style", false)
</head>

<body>
    <!-- Pageloader -->
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>

    <!-- Hero and nav -->
    <div class="hero is-medium">
        <div class="navbar-wrapper navbar-fade">
            <div class="hero-head">

                <!-- Nav -->
                <div class="container">
                    <nav class="nav">
                        <div class="container big">
                            <div class="nav-left">
                                <a class="nav-item" href="@Url.Action("Index","Home")">
                                    <img src="~/assets/images/logos/bulkit-logo-lemonade.png" alt="">
                                </a>
                                <!-- Sidebar trigger -->
                                <a id="navigation-trigger" class="nav-item hamburger-btn" href="javascript:void(0);">
                                    <span class="menu-toggle">
                                        <span class="icon-box-toggle">
                                            <span class="rotate">
                                                <i class="icon-line-top"></i>
                                                <i class="icon-line-center"></i>
                                                <i class="icon-line-bottom"></i>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                                <a href="@Url.Action("Index","Pricing")" class="nav-item is-tab nav-inner is-not-mobile">
                                    Pricing
                                </a>
                                <a href="@Url.Action("Index","Help")" class="nav-item is-tab nav-inner is-not-mobile">
                                    Help
                                </a>
                                <a href="@Url.Action("Login","Account")" class="nav-item is-tab nav-inner is-not-mobile">
                                    Login
                                </a>
                            </div>
                            <!-- Responsive toggle -->
                            <span class="nav-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <div class="nav-right nav-menu">

                                <a href="@Url.Action("Index","Pricing")" class="nav-item is-tab nav-inner is-menu-mobile">
                                    Pricing
                                </a>
                                <a href="@Url.Action("Index","Help")" class="nav-item is-tab nav-inner is-menu-mobile">
                                    Help
                                </a>
                                <a href="@Url.Action("Login","Account")" class="nav-item is-tab nav-inner is-menu-mobile">
                                    Login
                                </a>
                                <span class="nav-item">
                                    <a id="signup-btn" href="@Url.Action("Register","Account")" class="button button-signup btn-outlined is-bold btn-align primary-btn rounded">
                                        Sign up
                                    </a>
                                </span>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- /Nav -->

            </div>
        </div>


    </div>

    @RenderBody()

    <!-- Footer -->
    <footer class="footer footer-light-medium">
        <div class="container">
            <div class="columns">
                <!-- Column -->
                <div class="column is-4">
                    <div class="pt-10 pb-10">
                        <img class="small-footer-logo" src="~/assets/images/logos/bulkit-logo-g.png" alt="">
                        <div class="footer-description pt-10 pb-10">
                            Bulkit is built for developers and designers. It's modular approach lets you create an original landing page for your brand.
                        </div>
                    </div>

                </div>
                <!-- Column -->
                <div class="column is-6 is-offset-2">
                    <div class="columns">
                        <!-- Column -->
                        <div class="column">
                            <ul class="footer-column">
                                <li class="column-header">
                                    Bulkit
                                </li>
                                <li class="column-item"><a href="#">Home</a></li>
                                <li class="column-item"><a href="#">Pricing</a></li>
                                <li class="column-item"><a href="#">Get started</a></li>
                                <li class="column-item"><a href="#">Help</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->
    <!-- Side navigation -->
    <div class="side-navigation-menu">
        <!-- Categories menu -->
        <div class="category-menu-wrapper">
            <!-- Menu -->
            <ul class="categories">
                <li class="square-logo"><img src="~/assets/images/logos/square-white.svg" alt=""></li>
                <li class="category-link is-active" data-navigation-menu="demo-pages"><i class="sl sl-icon-layers"></i></li>
                <li class="category-link" data-navigation-menu="components"><i class="sl sl-icon-grid"></i></li>
                <li class="category-link" data-navigation-menu="extras"><i class="sl sl-icon-present"></i></li>
            </ul>
            <!-- Menu -->

            <ul class="author">
                <li>
                    <!-- Theme author -->
                    <a href="javascript:void(0);">
                        <img class="main-menu-author" src="~/assets/images/logos/cssninja.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <!-- /Categories menu -->
        <!-- Navigation menu -->
        <div id="demo-pages" class="navigation-menu-wrapper animated preFadeInRight fadeInRight">
            <!-- Navigation Header -->
            <!-- Navigation Body -->
            <ul class="navigation-menu">
                <li class="has-children">
                    <a class="parent-link" href="#"><span class="material-icons">weekend</span>Admin User </a>
                    <ul>
                        <li><a class="is-submenu" href="@Url.Action("Index","Quiz")">Quiz</a></li>
                        <li><a class="is-submenu" href="@Url.Action("Index","Question")">Question</a></li>
                    </ul>
                </li>



                <li class="has-children">
                    <a class="parent-link" href="#"><span class="material-icons">chat_bubble</span>Landing kit v3</a>
                    <ul>
                        <li><a class="is-submenu" href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a class="is-submenu" href="@Url.Action("Index","Feature")">Feature</a></li>
                        <li><a class="is-submenu" href="@Url.Action("Index","Pricing")">Pricing</a></li>
                        <li><a class="is-submenu" href="@Url.Action("Login","Account")">Login</a></li>
                        <li><a class="is-submenu" href="@Url.Action("Register","Account")">Signup</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /Navigation menu -->


    </div>
    <!-- /Side navigation -->
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    <!-- Video modal -->
    <div id="video-modal" class="modal modal-info">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="side-block is-title-reveal">
                <div class="background-wrapper">
                    <div id="video-embed" class="video-wrapper" data-url="https://www.youtube.com/watch?v=iaj8ktgL3BY">
                        <div class="video-overlay"></div>
                        <div class="playbutton">
                            <div class="icon-play">
                                <i class="im im-icon-Play-Music"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="modal-close is-large is-hidden stop-video" aria-label="close"></button>
    </div>
    <!-- Basic modal -->
    <!-- Core js -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/modernizr.min.js"></script>
    <!-- Plugins js -->
    <script src="~/assets/js/ggpopover/ggtooltip.js"></script>
    <script src="~/assets/js/embed/embed.js"></script>
    <!-- Bulkit js -->
    <script src="~/assets/js/main.js"></script>
    <!-- Page specific js -->
    <script src="~/assets/js/pages/landingv3.js"></script>
    <script src="~/assets/js/pages/components-modals.js"></script>
    @RenderSection("scripts", false)
</body>
</html>